cluster-ceph/cluster/*.sls
config/stack/default/global.yml
config/stack/default/ceph/cluster.yml
role-master/cluster/__NAMEBASE__1*.sls
role-admin/cluster/__NAMEBASE__[1234]*.sls
role-mon/stack/default/ceph/minions/__NAMEBASE__[123]*.yml
role-mon/cluster/__NAMEBASE__[123]*.sls
role-mds/cluster/__NAMEBASE__[23]*.sls
role-igw/stack/default/ceph/minions/__NAMEBASE__2*.yml
role-igw/cluster/__NAMEBASE__2*.sls
role-rgw/cluster/__NAMEBASE__3*.sls
profile-*/cluster/__NAMEBASE__[2345]*.sls
profile-*/stack/default/ceph/minions/__NAMEBASE__[2345]*.yml
